body{
    background-color: #EAF6F6;
}
hr{
    
    border-style: none;
    border-color: lightslategray;
    border-top-style: dotted;
    border-width: 5px; 
    width: 5%;
    
}
h3,h1{
    color: royalblue;
}
img.pic{
height: 30%;
border-radius: 75%;
}